.body {
  background-color: var(--primary);
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.body__stack {
}

.body__stack__left {
  width: 33%;
}

.body__stack__mid {
  /* width: 20%; */
}

.body__stack__mid__meetButton {
  background-color: black;
  color: black;
  backgroundColor: var(--secondary);
}

.body__stack__right {
  width: 33%;
}
